.contact {
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact input, .contact textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.contact button {
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #3700b3;
}
