.skills {
  background-color: #282c34;
  color: #ffffff;
}

.skills h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  font-size: 1em;
  margin: 10px 0;
}
